*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* Limpiar efectos que vienen por default */
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

header{
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
}
.hero{
    background-color: rgb(67, 114, 129);
    display: flex;
}
.seccionDos{
    background-color: cadetblue;
}
.seccionVision{
    background-color: coral;
}
.pasos{
    background-color: darkolivegreen;
}
.chose{
    background-color: lightslategray;
}